@charset "UTF-8";
/*Обнуление*/
@import url(https://fonts.googleapis.com/css?family=Forum:regular);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
:root {
  --bg-dark: #030303;
  --bg-gray: #bcbcbc;
  --bg-dark-gray: #939393;
  --dark-red: #710707;
  --font-gold: #9d8665;
  --font-gold-dark: #7e6c51;
  --font-gold-light: #D2B183;
  --font1: 80px;
  --font2: 32px;
}

html {
  scroll-behavior: smooth;
}

.dark-section {
  background: var(--bg-dark);
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.title {
  font-family: Forum;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: 90px;
  letter-spacing: 5px;
  text-align: left;
  color: white;
  text-transform: uppercase;
}

a {
  -webkit-transition: color ease 0.333s 0s;
  transition: color ease 0.333s 0s;
}

a:hover {
  color: var(--font-gold);
}

a:active {
  color: var(--font-gold-dark);
}

/*Header*/
.header {
  height: 150px;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo h1 {
  font-family: Forum;
  font-size: 28px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 5px;
  text-transform: uppercase;
  background: url("../assets/svg/logo.svg") 0 0 no-repeat;
  padding-left: 75px;
}

.nav {
  width: 775px;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.nav__item {
  font-family: Roboto;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 2px;
  font-weight: 200;
}

/*Header*/
/*Welcome section*/
.Welcome__container {
  height: 812px;
}

.Welcome__body {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 1;
}

.Welcome__column {
  position: absolute;
  top: 0;
  left: 0;
}

.Welcome__wallpaper {
  float: right;
  position: relative;
  z-index: -3;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  max-width: 1000px;
  max-height: 750px;
}

.Welcome__wallpaper::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: inset 100px 0px 100px #000;
          box-shadow: inset 100px 0px 100px #000;
  z-index: 1;
}

.Welcome__wallpaper img {
  max-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.Welcome__title {
  padding-top: 150px;
}

.Welcome__text {
  color: white;
  font-family: Roboto;
  font-size: 28px;
  font-style: normal;
  font-weight: 300;
  line-height: 33px;
  letter-spacing: 2px;
  text-align: left;
  padding-top: 25px;
}

.Welcome__button {
  display: block;
  margin-top: 75px;
}

.Welcome__button span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: var(--dark-red);
  width: 360px;
  height: 75px;
  border-radius: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 24px 0;
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 2px;
  cursor: pointer;
  color: white;
  -webkit-transition: background 0.75s ease 0s;
  transition: background 0.75s ease 0s;
}

.Welcome__button span:hover {
  background: var(--font-gold);
  color: white;
}

.Welcome__swiper {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 600px;
  height: 120px;
  background: black;
}

.swiper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.swiper__container {
  width: 451px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiper__count {
  color: white;
  font-family: Roboto;
  font-size: 22px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 1.6px;
  text-align: left;
}

.swiper__dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 180px;
  height: 16px;
}

.swiper__dot {
  width: 16px;
  height: 16px;
  background: white;
  -webkit-transition: background ease 0.333s 0s;
  transition: background ease 0.333s 0s;
  cursor: pointer;
}

.swiper__dot_selected {
  background: var(--font-gold-light);
}

.swiper__dot:hover {
  background: var(--font-gold);
}

.swiper__arrows {
  width: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.swiper__arrows button {
  background: none;
  width: 300px;
}

.swiper__btn-left {
  -webkit-transition: fill 0.5s ease 0s;
  transition: fill 0.5s ease 0s;
  cursor: pointer;
}

.swiper__btn-left:hover svg path {
  fill: var(--font-gold);
}

.swiper__btn-right {
  -webkit-transition: fill 0.5s ease 0s;
  transition: fill 0.5s ease 0s;
  cursor: pointer;
}

.swiper__btn-right:hover svg path {
  fill: var(--font-gold);
}

/*Welcome section*/
/*Visiting section*/
.Visiting__container {
  padding: 72px 0 72px 0;
}

.Visiting__title {
  color: var(--font-gold);
  position: relative;
  padding-bottom: 104px;
}

.Visiting__title::before {
  position: absolute;
  content: '';
  top: 114px;
  left: 0;
  width: 100%;
  height: 3px;
  background: var(--dark-red);
}

.cards {
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 60px;
          column-gap: 60px;
  row-gap: 73px;
  -ms-grid-columns: (minmax(200px, 440px))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 440px));
}

.cards__card {
  display: block;
}

.cards__card:hover .cards__title::before {
  width: 100%;
}

.cards__img {
  padding-bottom: 26px;
}

.cards__img img {
  width: 100%;
  height: 100%;
}

.cards__title {
  position: relative;
  color: black;
  font-family: Forum;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 5px;
  text-align: left;
  text-transform: uppercase;
  padding-bottom: 23px;
}

.cards__title::before {
  content: '';
  position: absolute;
  top: 45px;
  left: 0;
  width: 68.2%;
  background: var(--dark-red);
  height: 2px;
  -webkit-transition: width 1s ease 0.1s;
  transition: width 1s ease 0.1s;
}

.cards__text {
  color: black;
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 200;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  padding-bottom: 11px;
}

.cards__subtext {
  color: black;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 200;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}

.google-louvre {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
}

/*Visiting section*/
/*Explore section*/
.Explore_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 90px 0 75px 0;
}

.Explore__content {
  padding-right: 63px;
}

.Explore__title {
  line-height: 57px;
  padding-bottom: 120px;
  position: relative;
}

.Explore__title::before {
  position: absolute;
  content: '';
  top: 99px;
  left: 0;
  width: 100.4%;
  height: 3px;
  background: var(--dark-red);
}

.Explore__text {
  color: white;
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: 39px;
  letter-spacing: 0em;
  text-align: left;
  padding-bottom: 24px;
}

.Explore__text span {
  color: var(--font-gold);
}

/*Explore section*/
/*Video section*/
.Video__container {
  padding: 80px 0 56px 0;
}

.Video__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 79px;
}

.Video__title-container {
  min-width: 650px;
}

.Video__title {
  color: var(--font-gold);
  line-height: 79px;
}

.Video__content {
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: 39px;
  letter-spacing: 0em;
  text-align: left;
  padding-left: 70px;
}

.Video__core {
  aspect-ratio: 1440 / 735;
  margin-bottom: 38px;
  position: relative;
}

.Video__core video {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.controls {
  position: absolute;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 85px;
  background: black;
  padding: 0 5px;
}

.controls div,
.controls button {
  margin: 0 25px;
  cursor: pointer;
  background: none;
}

.controls__big-play {
  background: none;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.controls__big-play svg {
  -webkit-transform: translate(0, -20%);
          transform: translate(0, -20%);
}

.controls__play svg {
  width: 23px;
  height: 31px;
}

.controls__progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.controls__progress input {
  width: 100%;
  cursor: pointer;
  -webkit-appearance: none;
  height: 8px;
  background: -webkit-linear-gradient(left, var(--dark-red) 0%, var(--dark-red) 54%, #c4c4c4 54%, #c4c4c4 100%);
}

.controls__progress input::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  background: white;
  border-radius: 50%;
}

.controls__volume-progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 155px;
}

.controls__volume-progress input {
  cursor: pointer;
  width: 155px;
  -webkit-appearance: none;
  height: 8px;
  background: -webkit-linear-gradient(left, var(--dark-red) 0%, var(--dark-red) 45%, #c4c4c4 45%, #c4c4c4 100%);
}

.controls__volume-progress input::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  background: white;
  border-radius: 50%;
}

.switch__videos {
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 42px;
          column-gap: 42px;
  -ms-grid-columns: (minmax(100px, 452px))[3];
      grid-template-columns: repeat(3, minmax(100px, 452px));
  margin-bottom: 20px;
  height: 260px;
}

.switch__video {
  aspect-ratio: 452 / 254;
}

.switch__video iframe {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.switch__swiper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.switch__arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 200px;
  cursor: pointer;
}

.switch__arrows button {
  background: none;
  font-size: 28px;
  color: #999999;
}

.switch__arrows_left:hover {
  color: var(--dark-red);
}

.switch__arrows_right:hover {
  color: var(--dark-red);
}

.switch__dots {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 140px;
  top: -20px;
}

.switch__dot {
  background: #999999;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  -webkit-transition: background 0.5s ease 0s;
  transition: background 0.5s ease 0s;
  cursor: pointer;
}

.switch__dot:hover {
  background: var(--dark-red);
}

.switch__dot_active {
  background: #333333;
}

/*Video section*/
/*Gallery section*/
.Gallery__container {
  position: relative;
  overflow: hidden;
  height: 2200px;
  padding-top: 75px;
}

.Gallery__container::before {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: inset 0 -175px 175px #000;
          box-shadow: inset 0 -175px 175px #000;
  z-index: 1;
}

.Gallery__title {
  padding-bottom: 75px;
}

.Gallery__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 36px;
          column-gap: 36px;
  height: 2600px;
}

.Gallery__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 24px;
}

.Gallery__column_left, .Gallery__column_right {
  margin-top: 50px;
}

.Gallery__art {
  max-width: 456px;
  max-height: 100%;
}

.Gallery__art img {
  width: 100%;
}

/*Gallery section*/
/*Tickets section*/
.Tickets {
  position: relative;
}

.Tickets__container {
  padding: 75px 0 75px 0;
}

.Tickets__title {
  color: var(--font-gold);
  position: relative;
  padding-bottom: 105px;
}

.Tickets__title::before {
  position: absolute;
  content: '';
  top: 115px;
  left: 0;
  width: 100%;
  height: 3px;
  background: var(--dark-red);
}

.Tickets__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Tickets__ticket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Tickets__type {
  padding-left: 60px;
}

.Tickets__type h5 {
  font-family: Roboto;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: left;
  padding-bottom: 50px;
}

.Tickets__amount h5 {
  font-family: Roboto;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: right;
  padding-bottom: 25px;
}

.Tickets__buy-btn {
  position: relative;
  width: 175px;
  height: 50px;
  background: black;
  overflow: hidden;
  -webkit-transition: background 0.75s ease 0s, color 0.75s ease 0s;
  transition: background 0.75s ease 0s, color 0.75s ease 0s;
  cursor: pointer;
  z-index: 3;
  font-family: Roboto;
  font-size: 22px;
  font-weight: 300;
  line-height: 53px;
  letter-spacing: 2px;
  text-align: center;
  color: white;
}

.Tickets__buy-btn:hover {
  background: var(--font-gold);
  color: black;
}

.Tickets__buy-btn span {
  position: absolute;
  background: var(--dark-red);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  pointer-events: none;
  border-radius: 50%;
  -webkit-animation: animate 0.75s linear 1;
          animation: animate 0.75s linear 1;
}

@-webkit-keyframes animate {
  0% {
    width: 0px;
    height: 0px;
  }
  100% {
    width: 350px;
    height: 350px;
  }
}

@keyframes animate {
  0% {
    width: 0px;
    height: 0px;
  }
  100% {
    width: 350px;
    height: 350px;
  }
}

.Tickets__total {
  font-family: Roboto;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 33px;
  letter-spacing: 1.65px;
  text-align: left;
  display: block-inline;
  width: 150px;
  margin-left: auto;
  padding: 40px 0 60px 0;
}

.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 0em;
  margin-bottom: 25px;
  -webkit-transition: color ease 0.333s 0s;
  transition: color ease 0.333s 0s;
}

.radio:hover {
  color: var(--font-gold);
}

.radio__circle {
  display: block;
  width: 17px;
  height: 17px;
  border: 2px solid black;
  border-radius: 50%;
  margin-right: 23.5px;
  padding: 2px;
}

.radio__circle::before {
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  background: black;
  border-radius: 50px;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.15s;
  transition: -webkit-transform 0.15s;
  transition: transform 0.15s;
  transition: transform 0.15s, -webkit-transform 0.15s;
}

.radio__input {
  display: none;
}

.radio__input:checked + .radio__circle::before {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.form h6 {
  display: block-inline;
  width: 150px;
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 0em;
  padding-bottom: 14px;
  margin-left: auto;
}

.form__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 150px;
  height: 50px;
  border: 3px solid #000;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  margin-bottom: 10px;
}

.form__input {
  width: 90px;
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: center;
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}

.form__input::-webkit-outer-spin-button, .form__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
          appearance: none;
  margin: 0;
}

.form__button {
  font-size: 36px;
  background: none;
}

.form__button_decrement {
  position: relative;
  bottom: 19px;
}

/*Tickets section*/
/*Tickets form*/
.tickets-form {
  font-family: Roboto;
  font-style: normal;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 4;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100vh;
  pointer-events: none;
  -webkit-transition: left ease 0.5s 0s;
  transition: left ease 0.5s 0s;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tickets-form__cross {
  top: 30px;
  right: 30px;
  width: 25px;
  height: 25px;
  position: absolute;
  cursor: pointer;
}

.tickets-form__container {
  max-width: 1440px;
  width: 100%;
  max-height: 845px;
  height: 100%;
  background: white;
  padding: 91px 235px 91px 235px;
  pointer-events: auto;
  position: relative;
}

.tickets-form__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  width: 100%;
  max-height: 100%;
  height: 100%;
  -webkit-column-gap: 40px;
          column-gap: 40px;
}

.tickets-form__left {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 43%;
          flex: 1 1 43%;
  min-width: 400px;
}

.tickets-form__right {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 57%;
          flex: 1 1 57%;
  min-width: 530px;
}

.left-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
}

.left-form select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: url("../assets/svg/tickets-form/arrow.svg") no-repeat calc(100% - 14px);
}

.left-form input,
.left-form select {
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
}

.left-form input[type="text"],
.left-form input[type="date"],
.left-form input[type="time"],
.left-form input[type="email"],
.left-form input[type="tel"],
.left-form select {
  height: 100%;
  width: 100%;
}

.left-form input[type="text"]::-webkit-input-placeholder,
.left-form input[type="date"]::-webkit-input-placeholder,
.left-form input[type="time"]::-webkit-input-placeholder,
.left-form input[type="email"]::-webkit-input-placeholder,
.left-form input[type="tel"]::-webkit-input-placeholder,
.left-form select::-webkit-input-placeholder {
  color: black;
}

.left-form__logo svg {
  width: 85px;
  height: 42px;
}

.left-form__title {
  color: var(--font-gold);
  font-family: Forum;
  font-size: 50px;
  font-weight: 400;
  line-height: 49px;
  letter-spacing: 0em;
  text-align: left;
}

.left-form__subtitle {
  color: var(--dark-red);
  font-size: 18px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  position: relative;
  padding-bottom: 55px;
}

.left-form__subtitle::before {
  position: absolute;
  content: '';
  top: 27px;
  left: 0;
  width: 100%;
  height: 3px;
  background: var(--dark-red);
}

.left-form__date-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.left-form__entry-ticket {
  border: 1px solid #000;
}

.input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid black;
  height: 45px;
  text-align: center;
  position: relative;
}

.input-container__date {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.input-container__date input {
  max-width: 136px;
}

.input-container__date input::-webkit-calendar-picker-indicator {
  margin: 0;
  padding: 0;
  background: url("../assets/svg/tickets-form/arrow.svg") no-repeat left;
}

.input-container__time {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.input-container__time input {
  max-width: 136px;
}

.input-container__time input::-webkit-calendar-picker-indicator {
  margin: 0;
  padding: 0;
  background: url("../assets/svg/tickets-form/arrow.svg") no-repeat left;
}

.input-container__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 43px;
  width: 43px;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.date-input {
  padding-top: 6px;
  color: black;
  position: absolute;
  top: 8px;
  left: 43px;
  width: 112px;
  height: 27px;
  background: white;
  text-align: left;
  font-size: 18px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
}

.time-input {
  padding-top: 6px;
  color: black;
  position: absolute;
  top: 8px;
  left: 43px;
  width: 112px;
  height: 27px;
  background: white;
  text-align: left;
  font-size: 18px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
}

.entry-ticket {
  padding: 8.5px 13px 0px;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: left;
}

.entry-ticket__title {
  color: var(--font-gold);
  line-height: 20px;
  font-family: Forum;
  position: relative;
  padding-bottom: 15px;
}

.entry-ticket__title::before {
  position: absolute;
  content: '';
  top: 24px;
  left: 0;
  width: 100%;
  height: 3px;
  background: var(--dark-red);
}

.entry-ticket__content {
  line-height: 26px;
  font-family: Roboto;
}

.entry-ticket__buy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 6px;
}

.entry-ticket__count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 105px;
  height: 25px;
  border: 1px solid #000;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  margin-bottom: 13.3px;
}

.entry-ticket__button {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
  background: black;
  width: 100%;
  color: white;
}

.entry-ticket__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
  width: 33.333%;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}

.entry-ticket__input::-webkit-outer-spin-button, .entry-ticket__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
          appearance: none;
  margin: 0;
}

.right-form {
  position: relative;
  border: 1px solid var(--bg-dark);
  padding: 25px 30px 26px;
}

.right-form__img {
  display: block;
  float: right;
}

.right-form__title {
  font-size: 32px;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: left;
}

.right-form__subtitle {
  font-size: 22px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--dark-red);
  margin-bottom: 5px;
}

.right-form__timetable {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 300;
  line-height: 27px;
}

.right-form__timetable svg {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 15px;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
}

.right-form__card-container {
  position: relative;
}

.right-form__button {
  width: 220px;
  height: 45px;
  background: var(--dark-red);
  position: absolute;
  right: 30px;
  bottom: 26px;
  font-family: Roboto;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  color: white;
  padding-top: 5px;
}

.full-price {
  margin-bottom: 10px;
}

.full-price__body {
  padding-bottom: 8px;
  margin-bottom: 11px;
  border-bottom: 2px solid var(--dark-red);
  font-size: 22px;
  font-weight: 400;
  line-height: 31px;
}

.full-price__buy {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.full-price__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.full-price__black-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 32px;
  height: 20px;
  background: black;
  color: #A4A4A3;
  font-size: 18px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  -ms-flex-item-align: center;
      align-self: center;
  margin-right: 10px;
  padding-top: 4px;
}

.full-price__total {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 32px;
  line-height: 38px;
}

.full-price__text {
  font-weight: 400;
}

.full-price__big-price {
  font-weight: 500;
}

.form-card {
  position: relative;
  z-index: 7;
  width: 360px;
  height: 211px;
  background: var(--bg-gray);
  padding: 15px 20px;
  border-radius: 3px;
}

.form-card p {
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  margin-bottom: 3.5px;
}

.form-card input,
.form-card select {
  margin-bottom: 11px;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  padding-left: 6px;
}

.form-card__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form-card__imgs {
  width: 100%;
  height: 100%;
  padding-top: 19px;
}

.form-card__imgs img {
  float: right;
  margin-bottom: 15px;
}

.form-card__card-number input {
  width: 215px;
  height: 35px;
}

.form-card__date-time select {
  width: 100px;
  height: 35px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: white url("../assets/svg/tickets-form/Arrows.svg") right no-repeat;
}

.form-card__selects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 15px;
          column-gap: 15px;
}

.form-card__cardholder-name input {
  width: 320px;
  height: 35px;
}

.form-card2 {
  position: absolute;
  z-index: 6;
  background: var(--bg-dark-gray);
  padding: 15px 0;
  top: 30px;
  right: 0;
  border-radius: 3px;
  width: 360px;
  height: 211px;
}

.form-card2__black-line {
  margin-top: 10px;
  width: 100%;
  height: 45px;
  background: var(--bg-dark);
}

.form-card2__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  padding: 15px 20px;
}

.form-card2__cvc-cvv {
  width: 75px;
  font-weight: 400;
  line-height: 12px;
}

.form-card2__cvc-cvv h6 {
  font-size: 12px;
  padding: 0 0 8px 9px;
}

.form-card2__cvc-cvv input {
  width: 75px;
  height: 35px;
  padding: 0 0 8px 9px;
}

.form-card2__cvc-cvv p {
  display: block;
  font-size: 10px;
  padding: 6px 0 0 9px;
}

.shadow-bg {
  position: fixed;
  z-index: 3;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0);
  -webkit-transition: background ease 0.5s 0s;
  transition: background ease 0.5s 0s;
}

/*Tickets form*/
/*Parallax section*/
.parallax {
  background: url("../assets/img/parallax.jpg") 0 0/100% no-repeat;
  background-attachment: fixed;
  height: 400px;
  width: 100%;
}

/*Parallax section*/
/*Contacts section*/
.Contacts__container {
  padding: 75px 0 71px 0;
}

.Contacts__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Contacts__title {
  color: var(--font-gold);
  position: relative;
  padding-bottom: 103px;
}

.Contacts__title::before {
  position: absolute;
  content: '';
  top: 114px;
  left: 0;
  width: 100%;
  height: 3px;
  background: var(--dark-red);
}

.Contacts__contact {
  padding-right: 200px;
}

.Contacts__contact h5 {
  font-family: Roboto;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: left;
  padding-bottom: 50px;
}

.Contacts__contact p {
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  padding-bottom: 25px;
}

.Contacts__contact p a {
  color: black;
}

.Contacts__location {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.Contacts__location img {
  width: 100%;
}

/*Contacts section*/
/*Footer*/
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__menu {
  height: 268px;
  padding-top: 87px;
  border-bottom: 3px solid white;
}

.footer__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 23.6%;
          flex: 0 0 23.6%;
  padding-right: 30px;
}

.footer__logo h6 {
  font-family: Forum;
  font-size: 28px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 5px;
  text-transform: uppercase;
  background: url("../assets/svg/logo.svg") 0 0 no-repeat;
  padding-left: 75px;
}

.footer__nav {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 36.8%;
          flex: 0 0 36.8%;
}

.footer__links {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 39.6%;
          flex: 0 0 39.6%;
  position: relative;
  height: 123px;
}

.footer__links-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 340px;
}

.footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 48px;
  height: 48px;
  padding: 13.5px;
  border: 1px solid white;
  border-radius: 50%;
  -webkit-transition: border ease 0.5s 0s;
  transition: border ease 0.5s 0s;
}

.footer__link > svg path {
  -webkit-transition: fill ease 0.5s 0s;
  transition: fill ease 0.5s 0s;
}

.footer__link:hover,
.footer__link:hover > svg path {
  border: 1px solid var(--font-gold);
  fill: var(--font-gold);
}

.footer__body {
  height: 124px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 200;
  line-height: 22px;
  letter-spacing: 2px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__body p {
  display: inline-block;
}

.footer-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 170px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-nav__item {
  display: inline-block;
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 200;
  line-height: 26px;
  letter-spacing: 2px;
  text-align: left;
  margin-bottom: 26px;
}

/*Footer*/
