@import "_cleaning";
@import url(https://fonts.googleapis.com/css?family=Forum:regular);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

:root {
	--bg-dark: #030303;
	--bg-gray: #bcbcbc;
	--bg-dark-gray: #939393;
	--dark-red: #710707;
	--font-gold: #9d8665;
	--font-gold-dark: #7e6c51;
	--font-gold-light: #D2B183;
	--font1: 80px;
	--font2: 32px;
}

html {
	scroll-behavior: smooth;
}

.dark-section {
	background: var(--bg-dark);
}

.container {
	max-width: 1440px;
	margin: 0 auto;
}


.title {
	font-family: Forum;
	font-size: 80px;
	font-style: normal;
	font-weight: 400;
	line-height: 90px;
	letter-spacing: 5px;
	text-align: left;
	color: white;
	text-transform: uppercase;
}

a {
	transition: color ease 0.333s 0s;
}

a:hover {
	color: var(--font-gold);
}

a:active {
	color: var(--font-gold-dark);
}

/*Header*/
.header {
	height: 150px;

	&__container {
		display: flex;
		justify-content: space-between;
		height: 100%;
		align-items: center;
	}

	&__logo {

		h1 {
			font-family: Forum;
			font-size: 28px;
			font-weight: 400;
			line-height: 31px;
			letter-spacing: 5px;
			text-transform: uppercase;
			background: url("../assets/svg/logo.svg") 0 0 no-repeat;
			padding-left: 75px;
		}
	}
}

.nav {
	width: 775px;

	&__list {
		display: flex;
		justify-content: space-between;
		width: 100%;
	}

	&__item {
		font-family: Roboto;
		font-size: 22px;
		line-height: 26px;
		letter-spacing: 2px;
		font-weight: 200;
	}
}

/*Header*/

/*Welcome section*/
.Welcome {

	&__container {
		height: 812px;
	}

	&__body {
		height: 100%;
		width: 100%;
		position: relative;
		z-index: 1;
	}

	&__column {
		position: absolute;
		top: 0;
		left: 0;

	}

	&__wallpaper {
		float: right;
		position: relative;
		z-index: -3;
		flex: 1 1 100%;
		max-width: 1000px;
		max-height: 750px;

		&::before {
			position: absolute;
			content: '';
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			box-shadow: inset 100px 0px 100px #000;
			z-index: 1;
		}

		img {
			max-width: 100%;
			min-height: 100%;
			width: auto;
			height: auto;
			object-fit: contain;
		}
	}

	&__title {
		padding-top: 150px;
	}

	&__text {
		color: white;
		font-family: Roboto;
		font-size: 28px;
		font-style: normal;
		font-weight: 300;
		line-height: 33px;
		letter-spacing: 2px;
		text-align: left;
		padding-top: 25px;
	}

	&__button {
		display: block;
		margin-top: 75px;

		button {
			display: flex;
			flex-direction: column;
			background: var(--dark-red);
			width: 360px;
			height: 75px;
			border-radius: 10px;
			align-items: center;
			padding: 24px 0;
			font-family: Roboto;
			font-size: 22px;
			font-style: normal;
			font-weight: 300;
			line-height: 26px;
			letter-spacing: 2px;
			cursor: pointer;
			color: white;
			transition: background 0.75s ease 0s;

			&:hover {
				background: var(--font-gold);
				color: white;
			}
		}
	}

	&__swiper {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 600px;
		height: 120px;
		background: black;
	}
}

.swiper {
	display: flex;
	justify-content: center;

	&__container {
		width: 451px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__count {
		color: white;
		font-family: Roboto;
		font-size: 22px;
		font-weight: 400;
		line-height: 40px;
		letter-spacing: 1.6px;
		text-align: left;

	}

	&__dots {
		display: flex;
		justify-content: space-between;
		width: 180px;
		height: 16px;
	}

	&__dot {
		width: 16px;
		height: 16px;
		background: white;
		transition: background ease 0.333s 0s;
		cursor: pointer;

		&_selected {
			background: var(--font-gold-light);
		}

		&:hover {
			background: var(--font-gold);
		}
	}

	&__arrows {
		width: 80px;
		display: flex;
		justify-content: space-between;


		& button {
			background: none;
			width: 300px;
		}
	}

	&__btn-left {
		transition: fill 0.5s ease 0s;
		cursor: pointer;

		&:hover svg path {
			fill: var(--font-gold);
		}
	}

	&__btn-right {
		transition: fill 0.5s ease 0s;
		cursor: pointer;

		&:hover svg path {
			fill: var(--font-gold);
		}
	}
}

/*Welcome section*/

/*Visiting section*/
.Visiting {

	&__container {
		padding: 72px 0 72px 0;
	}

	&__title {
		color: var(--font-gold);
		position: relative;
		padding-bottom: 104px;

		&::before {
			position: absolute;
			content: '';
			top: 114px;
			left: 0;
			width: 100%;
			height: 3px;
			background: var(--dark-red);
		}
	}
}

.cards {
	display: grid;
	column-gap: 60px;
	row-gap: 73px;
	grid-template-columns: repeat(auto-fit, minmax(200px, 440px));


	&__card {
		display: block;

		&:hover .cards__title::before {
			width: 100%;
		}
	}

	&__img {
		padding-bottom: 26px;

		img {
			width: 100%;
			height: 100%;
		}
	}

	&__title {
		position: relative;
		color: black;
		font-family: Forum;
		font-size: 32px;
		font-style: normal;
		font-weight: 400;
		line-height: 35px;
		letter-spacing: 5px;
		text-align: left;
		text-transform: uppercase;
		padding-bottom: 23px;

		&::before {
			content: '';
			position: absolute;
			top: 45px;
			left: 0;
			width: 68.2%;
			background: var(--dark-red);
			height: 2px;
			transition: width 1s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.1s;
		}
	}

	&__text {
		color: black;
		font-family: Roboto;
		font-size: 22px;
		font-style: normal;
		font-weight: 200;
		line-height: 26px;
		letter-spacing: 0em;
		text-align: left;
		padding-bottom: 11px;
	}

	&__subtext {
		color: black;
		font-family: Roboto;
		font-size: 18px;
		font-style: normal;
		font-weight: 200;
		line-height: 21px;
		letter-spacing: 0em;
		text-align: left;
	}
}

.google-louvre {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	border: none;
}


/*Visiting section*/

/*Explore section*/
.Explore {

	&_container {
		display: flex;
		padding: 90px 0 75px 0;
	}

	&__content {
		padding-right: 63px;
	}

	&__title {
		line-height: 57px;
		padding-bottom: 120px;
		position: relative;

		&::before {
			position: absolute;
			content: '';
			top: 99px;
			left: 0;
			width: 100.4%;
			height: 3px;
			background: var(--dark-red);
		}
	}

	&__text {
		color: white;
		font-family: Roboto;
		font-size: 22px;
		font-style: normal;
		font-weight: 300;
		line-height: 39px;
		letter-spacing: 0em;
		text-align: left;
		padding-bottom: 24px;
	}
}

/*Explore section*/

/*Video section*/
.Video {

	&__container {
		padding: 80px 0 56px 0;
	}

	&__header {
		display: flex;
		padding-bottom: 79px;
	}

	&__title-container {
		min-width: 650px;
	}

	&__title {
		color: var(--font-gold);
		line-height: 79px;
	}

	&__content {
		font-family: Roboto;
		font-size: 22px;
		font-style: normal;
		font-weight: 300;
		line-height: 39px;
		letter-spacing: 0em;
		text-align: left;
		padding-left: 70px;
	}

	&__core {
		aspect-ratio: 1440 / 735;
		margin-bottom: 38px;
		position: relative;

		video {
			object-fit: cover;
			width: 100%;
			height: 100%;
		}
	}

	&__controls {}
}

.controls {
	position: absolute;
	bottom: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 85px;
	background: black;
	padding: 0 5px;

	& div,
	& button {
		margin: 0 25px;
		cursor: pointer;
		background: none;
	}

	&__big-play {
		background: none;
		position: absolute;
		top: 0;
		left: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;

		& svg {
			transform: translate(0, -20%);
		}
	}

	&__play {

		svg {
			width: 23px;
			height: 31px;
		}
	}

	&__progress {
		display: flex;
		width: 100%;

		input {
			width: 100%;
			cursor: pointer;
			-webkit-appearance: none;
			height: 8px;
			background: -webkit-linear-gradient(left, var(--dark-red) 0%, var(--dark-red) 54%, #c4c4c4 54%, #c4c4c4 100%);

			&::-webkit-slider-thumb {
				-webkit-appearance: none;
				width: 15px;
				height: 15px;
				background: white;
				border-radius: 50%;
			}
		}
	}

	&__volume {}

	&__volume-progress {
		display: flex;
		width: 155px;

		input {
			cursor: pointer;
			width: 155px;
			-webkit-appearance: none;
			height: 8px;
			background: -webkit-linear-gradient(left, var(--dark-red) 0%, var(--dark-red) 45%, #c4c4c4 45%, #c4c4c4 100%);

			&::-webkit-slider-thumb {
				-webkit-appearance: none;
				width: 15px;
				height: 15px;
				background: white;
				border-radius: 50%;
			}
		}
	}

	&__fullscreen {}
}


.switch {

	&__videos {
		display: grid;
		column-gap: 42px;
		grid-template-columns: repeat(3, minmax(100px, 452px));
		margin-bottom: 20px;
		height: 260px;
	}

	&__video {
		aspect-ratio: 452 / 254;

		iframe {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__swiper {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__arrows {
		display: flex;
		justify-content: space-between;
		width: 200px;
		cursor: pointer;

		& button {
			background: none;
			font-size: 28px;
			color: #999999;
		}

		&_left:hover {
			color: var(--dark-red);
		}

		&_right:hover {
			color: var(--dark-red);
		}
	}

	&__dots {
		position: relative;
		display: flex;
		justify-content: space-between;
		width: 140px;
		top: -20px;
	}

	&__dot {
		background: #999999;
		width: 12px;
		height: 12px;
		border-radius: 50%;
		transition: background 0.5s ease 0s;
		cursor: pointer;

		&:hover {
			background: var(--dark-red);
		}

		&_active {
			background: #333333;
		}
	}
}

/*Video section*/

/*Gallery section*/
.Gallery {

	&__container {
		position: relative;
		overflow: hidden;
		height: 2200px;
		padding-top: 75px;

		&::before {
			position: absolute;
			content: '';
			bottom: 0;
			left: 0;
			width: 100%;
			height: 100%;
			box-shadow: inset 0 -175px 175px #000;
			z-index: 1;
		}
	}

	&__title {
		padding-bottom: 75px;
	}

	&__content {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		column-gap: 36px;
		height: 2600px;
	}

	&__column {
		display: flex;
		flex-direction: column;
		row-gap: 24px;

		&_left,
		&_right {
			margin-top: 50px;
		}
	}

	&__art {
		max-width: 456px;
		max-height: 100%;

		img {
			width: 100%;
		}
	}
}

/*Gallery section*/

/*Tickets section*/

.Tickets {
	position: relative;

	&__container {
		padding: 75px 0 75px 0;
	}

	&__title {
		color: var(--font-gold);
		position: relative;
		padding-bottom: 105px;

		&::before {
			position: absolute;
			content: '';
			top: 115px;
			left: 0;
			width: 100%;
			height: 3px;
			background: var(--dark-red);
		}
	}

	&__body {
		display: flex;
	}

	&__wallpaper {}

	&__ticket {
		display: flex;
		width: 100%;
		justify-content: space-between;
	}

	&__type {
		padding-left: 60px;

		h5 {
			font-family: Roboto;
			font-size: 28px;
			font-style: normal;
			font-weight: 700;
			line-height: 33px;
			letter-spacing: 0em;
			text-align: left;
			padding-bottom: 50px;
		}
	}

	&__amount {

		h5 {
			font-family: Roboto;
			font-size: 28px;
			font-style: normal;
			font-weight: 700;
			line-height: 33px;
			letter-spacing: 0em;
			text-align: right;
			padding-bottom: 25px;
		}
	}

	&__buy-btn {
		position: relative;
		width: 175px;
		height: 50px;
		background: black;
		overflow: hidden;
		transition: background 0.75s ease 0s;
		cursor: pointer;

		& span {
			position: absolute;
			background: var(--dark-red);
			transform: translate(-50%, -50%);
			pointer-events: none;
			border-radius: 50%;
			animation: animate 0.75s linear 1;

			@keyframes animate {

				0% {
					width: 0px;
					height: 0px;
				}

				100% {
					width: 350px;
					height: 350px;
				}
			}
		}

		p {
			position: relative;
			z-index: 3;
			font-family: Roboto;
			font-size: 22px;
			font-weight: 300;
			line-height: 53px;
			letter-spacing: 2px;
			text-align: center;
			color: white;
			transition: color 0.75s ease 0s;
		}

		&:hover {
			background: var(--font-gold);

			p {
				color: black;
			}
		}
	}

	&__total {
		font-family: Roboto;
		font-size: 28px;
		font-style: normal;
		font-weight: 700;
		line-height: 33px;
		letter-spacing: 1.65px;
		text-align: left;
		display: block-inline;
		width: 150px;
		margin-left: auto;
		padding: 40px 0 60px 0;
	}
}

.radio {
	display: flex;
	width: 100%;
	align-items: center;
	cursor: pointer;
	font-family: Roboto;
	font-size: 22px;
	font-style: normal;
	font-weight: 300;
	line-height: 26px;
	letter-spacing: 0em;
	margin-bottom: 25px;
	transition: color ease 0.333s 0s;

	&:hover {
		color: var(--font-gold);
	}

	&__circle {
		width: 17px;
		height: 17px;
		border: 2px solid black;
		border-radius: 50%;
		margin-right: 23.5px;
		padding: 2px;

		&::before {
			content: '';
			width: 100%;
			height: 100%;
			display: block;
			background: black;
			border-radius: 50px;
			transform: scale(0);
			transition: transform 0.15s;
		}
	}

	&__input {
		display: none;

		&:checked+.radio__circle::before {
			transform: scale(1);
		}
	}
}

.form {

	h6 {
		display: block-inline;
		width: 150px;
		font-family: Roboto;
		font-size: 22px;
		font-style: normal;
		font-weight: 300;
		line-height: 26px;
		letter-spacing: 0em;
		padding-bottom: 14px;
		margin-left: auto;
	}

	&__container {
		display: flex;
		width: 150px;
		height: 50px;
		border: 3px solid #000;
		justify-content: center;
		margin-left: auto;
		margin-bottom: 10px;
	}

	&__input {
		width: 90px;
		font-family: Roboto;
		font-size: 22px;
		font-style: normal;
		font-weight: 300;
		line-height: 26px;
		letter-spacing: 0em;
		text-align: center;
		appearance: textfield;

		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
			appearance: none;
			margin: 0;
		}
	}

	&__button {
		font-size: 36px;
		background: none;

		&_decrement {
			position: relative;
			bottom: 19px;
		}

		&_increment {}
	}
}

/*Tickets section*/


/*Tickets form*/

.tickets-form {
	font-family: Roboto;
	font-style: normal;
	position: fixed;
	display: flex;
	flex-direction: column;
	z-index: 4;
	top: 0;
	left: 100%;
	width: 100%;
	height: 100vh;
	pointer-events: none;
	transition: left ease 0.5s 0s;
	justify-content: center;
	align-items: center;

	&__container {
		max-width: 1440px;
		width: 100%;
		max-height: 845px;
		height: 100%;
		background: white;
		padding: 91px 235px 91px 235px;
		pointer-events: auto;
	}

	&__content {
		display: flex;
		max-width: 100%;
		width: 100%;
		max-height: 100%;
		height: 100%;
		column-gap: 40px;
	}

	&__left {
		flex: 1 1 43%;
		max-width: 400px;
	}

	&__right {
		flex: 1 1 57%;
	}
}

.left-form {
	display: flex;
	flex-direction: column;
	row-gap: 20px;

	select {
		appearance: none;
		background: url('../assets/svg/tickets-form/arrow.svg') no-repeat calc(100% - 14px);
	}

	input,
	select {
		font-family: Roboto;
		font-size: 18px;
		font-style: normal;
		font-weight: 400;
		line-height: 21px;
		letter-spacing: 0em;
	}

	input[type="text"],
	input[type="date"],
	input[type="time"],
	select {
		height: 100%;
		width: 100%;
	}

	&__logo {
		svg {
			width: 85px;
			height: 42px;
		}
	}

	&__title {
		color: var(--font-gold);
		font-family: Forum;
		font-size: 50px;
		font-weight: 400;
		line-height: 49px;
		letter-spacing: 0em;
		text-align: left;
	}

	&__subtitle {
		color: var(--dark-red);
		font-size: 18px;
		font-weight: 400;
		line-height: 15px;
		letter-spacing: 0em;
		text-align: left;
		position: relative;
		padding-bottom: 55px;

		&::before {
			position: absolute;
			content: '';
			top: 27px;
			left: 0;
			width: 100%;
			height: 3px;
			background: var(--dark-red);
		}
	}

	&__date-time {
		display: flex;
		justify-content: space-between;
		column-gap: 20px;
	}

	&__entry-ticket {
		border: 1px solid #000;
	}
}

.input-container {
	display: flex;
	border: 1px solid black;
	height: 45px;
	text-align: center;

	&__date {
		flex: 1 1 50%;
	}

	&__time {
		flex: 1 1 50%;
	}

	&__icon {
		display: flex;
		min-width: 43px;
		width: 43px;
		height: 100%;
		justify-content: center;
		align-items: center;
	}
}

.entry-ticket {
	padding: 8.5px 13px 0px;
	font-size: 18px;
	font-weight: 400;
	letter-spacing: 0em;
	text-align: left;

	&__title {
		color: var(--font-gold);
		line-height: 20px;
		font-family: Forum;
		position: relative;
		padding-bottom: 15px;

		&::before {
			position: absolute;
			content: '';
			top: 24px;
			left: 0;
			width: 100%;
			height: 3px;
			background: var(--dark-red);
		}
	}

	&__content {
		line-height: 26px;
		font-family: Roboto;
	}

	&__buy {
		display: flex;
		justify-content: space-between;
		margin-top: 6px;

		&_basic {}

		&_senior {}
	}

	&__price {

		&_basic {}

		&_senior {}
	}

	&__count {
		display: flex;
		width: 105px;
		height: 25px;
		border: 1px solid #000;
		justify-content: center;
		margin-left: auto;
		margin-bottom: 13.3px;

		&_basic {}

		&_senior {}
	}

	&__button {
		flex: 1 1 33.333%;
		background: black;
		width: 100%;
		color: white;

		&_decrement {}

		&_increment {}
	}

	&__input {
		flex: 1 1 33.333%;
		width: 33.333%;
		font-size: 18px;
		font-weight: 400;
		line-height: 21px;
		letter-spacing: 0em;
		text-align: center;
		appearance: textfield;

		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
			appearance: none;
			margin: 0;
		}
	}

}

.right-form {
	position: relative;
	border: 1px solid var(--bg-dark);
	padding: 25px 30px 26px;

	&__img {
		display: block;
		float: right;
	}

	&__title {
		font-size: 32px;
		font-weight: 500;
		line-height: 38px;
		letter-spacing: 0em;
		text-align: left;
	}

	&__subtitle {
		font-size: 22px;
		font-weight: 500;
		line-height: 30px;
		letter-spacing: 0em;
		text-align: left;
		color: var(--dark-red);
		margin-bottom: 5px;
	}

	&__timetable {
		margin-bottom: 15px;
		font-size: 18px;
		font-weight: 300;
		line-height: 27px;

		svg {
			display: inline-flex;
			width: 15px;
			height: 100%;
			justify-content: center;
			align-items: center;
			margin-right: 10px;
		}
	}

	&__card-container {
		position: relative;
	}

	&__button {
		width: 220px;
		height: 45px;
		background: var(--dark-red);
		position: absolute;
		right: 30px;
		bottom: 26px;
		font-family: Roboto;
		font-size: 22px;
		font-weight: 400;
		line-height: 26px;
		color: white;
		padding-top: 5px;

	}
}

.full-price {
	margin-bottom: 10px;

	&__body {
		padding-bottom: 8px;
		margin-bottom: 11px;
		border-bottom: 2px solid var(--dark-red);
		font-size: 22px;
		font-weight: 400;
		line-height: 31px;

	}

	&__buy {
		width: 100%;
		display: flex;
		justify-content: space-between;

		&_basic {}

		&_senior {}
	}

	&__price {
		display: flex;

		&_basic {}

		&_senior {}
	}

	&__black-box {
		display: flex;
		width: 32px;
		height: 20px;
		background: black;
		color: #A4A4A3;
		font-size: 18px;
		justify-content: center;
		align-items: center;
		border-radius: 5px;
		align-self: center;
		margin-right: 10px;
		padding-top: 4px;

		&_basic {}

		&_senior {}
	}

	&__count {

		&_basic {}

		&_senior {}
	}

	&__total {
		width: 100%;
		display: flex;
		justify-content: space-between;
		font-size: 32px;
		line-height: 38px;

	}

	&__text {
		font-weight: 400;
	}

	&__big-price {
		font-weight: 500;
	}
}

.form-card {
	position: relative;
	z-index: 7;
	width: 360px;
	height: 211px;
	background: var(--bg-gray);
	padding: 15px 20px;
	border-radius: 3px;

	p {
		font-size: 12px;
		font-weight: 400;
		line-height: 14px;
		margin-bottom: 3.5px;
	}

	input,
	select {
		margin-bottom: 11px;
		font-size: 12px;
		font-weight: 400;
		line-height: 14px;
		padding-left: 6px;
	}

	&__body {
		display: flex;
	}

	&__content {}

	&__imgs {
		width: 100%;
		height: 100%;
		padding-top: 19px;

		img {
			float: right;
			margin-bottom: 15px;
		}
	}

	&__card-number {

		input {
			width: 215px;
			height: 35px;
		}
	}

	&__date-time {

		select {
			width: 100px;
			height: 35px;
			appearance: none;
			background: white url('../assets/svg/tickets-form/Arrows.svg') right no-repeat;
		}
	}

	&__selects {
		display: flex;
		column-gap: 15px;
	}

	&__cardholder-name {
		input {
			width: 320px;
			height: 35px;
		}
	}
}

.form-card2 {
	position: absolute;
	z-index: 6;
	background: var(--bg-dark-gray);
	padding: 15px 0;
	top: 30px;
	right: 0;
	border-radius: 3px;
	width: 360px;
	height: 211px;

	&__black-line {
		margin-top: 10px;
		width: 100%;
		height: 45px;
		background: var(--bg-dark);
	}

	&__container {
		display: flex;
		justify-content: right;
		padding: 15px 20px;
	}

	&__cvc-cvv {
		width: 75px;
		font-weight: 400;
		line-height: 12px;

		h6 {
			font-size: 12px;
			padding: 0 0 8px 9px;
		}

		input {
			width: 75px;
			height: 35px;
			padding: 0 0 8px 9px;
		}

		p {
			display: block;
			font-size: 10px;
			padding: 6px 0 0 9px;
		}
	}
}


.shadow-bg {
	position: fixed;
	z-index: 3;
	top: 0;
	left: 100%;
	width: 100%;
	height: 100vh;
	background: rgba(0, 0, 0, 0);
	transition: background ease 0.5s 0s;
}

/*Tickets form*/


/*Parallax section*/
.parallax {
	background: url('../assets/img/parallax.jpg') 0 0/100% no-repeat;
	background-attachment: fixed;
	height: 400px;
	width: 100%;
}

/*Parallax section*/

/*Contacts section*/
.Contacts {

	&__container {
		padding: 75px 0 71px 0;
	}

	&__body {
		display: flex;
	}

	&__title {
		color: var(--font-gold);
		position: relative;
		padding-bottom: 103px;

		&::before {
			position: absolute;
			content: '';
			top: 114px;
			left: 0;
			width: 100%;
			height: 3px;
			background: var(--dark-red);
		}
	}

	&__contact {
		padding-right: 200px;

		h5 {
			font-family: Roboto;
			font-size: 28px;
			font-style: normal;
			font-weight: 500;
			line-height: 33px;
			letter-spacing: 0em;
			text-align: left;
			padding-bottom: 50px;
		}

		p {
			font-family: Roboto;
			font-size: 22px;
			font-style: normal;
			font-weight: 300;
			line-height: 26px;
			letter-spacing: 0em;
			text-align: left;
			padding-bottom: 25px;

			a {
				color: black;
			}
		}
	}

	&__location {
		flex: 1 1 auto;

		img {
			width: 100%;
		}
	}
}

/*Contacts section*/

/*Footer*/
.footer {

	&__container {
		display: flex;
	}

	&__menu {
		height: 268px;
		padding-top: 87px;
		border-bottom: 3px solid white;
	}

	&__logo {
		flex: 0 0 23.6%;
		padding-right: 30px;

		h6 {
			font-family: Forum;
			font-size: 28px;
			font-weight: 400;
			line-height: 31px;
			letter-spacing: 5px;
			text-transform: uppercase;
			background: url("../assets/svg/logo.svg") 0 0 no-repeat;
			padding-left: 75px;
		}
	}

	&__nav {
		flex: 0 0 36.8%;
	}

	&__links {
		flex: 0 0 39.6%;
		position: relative;
		height: 123px;
	}

	&__links-container {
		display: flex;
		position: absolute;
		bottom: 0;
		right: 0;
		justify-content: space-between;
		width: 340px;
	}

	&__link {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 48px;
		height: 48px;
		padding: 13.5px;
		border: 1px solid white;
		border-radius: 50%;
		transition: border ease 0.5s 0s;

		>svg path {
			transition: fill ease 0.5s 0s;
		}

		&:hover,
		&:hover>svg path {
			border: 1px solid var(--font-gold);
			fill: var(--font-gold);
		}
	}

	&__body {
		height: 124px;
		color: white;
		display: flex;
		justify-content: space-between;
		font-family: Roboto;
		font-size: 22px;
		font-style: normal;
		font-weight: 200;
		line-height: 22px;
		letter-spacing: 2px;
		align-items: center;

		p {
			display: inline-block;
		}
	}
}

.footer-nav {


	&__list {
		display: flex;
		height: 170px;
		flex-direction: column;
		flex-wrap: wrap;
	}

	&__item {
		display: inline-block;
		font-family: Roboto;
		font-size: 22px;
		font-style: normal;
		font-weight: 200;
		line-height: 26px;
		letter-spacing: 2px;
		text-align: left;
		margin-bottom: 26px;
	}
}

/*Footer*/