@import "_cleaning";
@import url(https://fonts.googleapis.com/css?family=Forum:regular);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

:root {
	--bg-dark: #151719;
	--dark-red: #710707;
	--font-gold: #9d8665;
	--font1: 80px;
	--font2: 32px;
}

html {
	scroll-behavior: smooth;
}

.dark-section {
	background: #030303;
}

.container {
	max-width: 1440px;
	margin: 0 auto;
}


.title {
	font-family: Forum;
	font-size: 80px;
	font-style: normal;
	font-weight: 400;
	line-height: 90px;
	letter-spacing: 5px;
	text-align: left;
	color: white;
	text-transform: uppercase;
}

/*Header*/
.header {
	height: 150px;

	&__container {
		display: flex;
		justify-content: space-between;
		height: 100%;
		align-items: center;
	}

	&__logo {

		h1 {
			font-family: Forum;
			font-size: 28px;
			font-weight: 400;
			line-height: 31px;
			letter-spacing: 5px;
			text-transform: uppercase;
			background: url("../assets/svg/logo.svg") 0 0 no-repeat;
			padding-left: 75px;
		}
	}
}

.nav {
	width: 775px;

	&__list {
		display: flex;
		justify-content: space-between;
		width: 100%;
	}

	&__item {
		font-family: Roboto;
		font-size: 22px;
		line-height: 26px;
		letter-spacing: 2px;
		font-weight: 200;
	}
}

/*Header*/

/*Welcome section*/
.Welcome {

	&__container {
		height: 812px;
	}

	&__body {
		background: url("../assets/img/welcome-slider/1.jpg") right top no-repeat;
		height: 100%;
		width: 100%;
		position: relative;
		z-index: 1;

		&::before {
			position: absolute;
			content: '';
			top: 0;
			left: 30.5%;
			width: 69.5%;
			height: 750px;
			box-shadow: inset 100px 0px 100px #000;
			z-index: -1;
		}
	}

	&__title {
		padding-top: 150px;
	}

	&__text {
		color: white;
		font-family: Roboto;
		font-size: 28px;
		font-style: normal;
		font-weight: 300;
		line-height: 33px;
		letter-spacing: 2px;
		text-align: left;
		padding-top: 25px;
	}

	&__button {
		display: flex;
		flex-direction: column;
		background: var(--dark-red);
		width: 360px;
		height: 75px;
		border-radius: 10px;
		text-align: center;
		padding: 24px 0;
		margin-top: 75px;

		a {
			font-family: Roboto;
			font-size: 22px;
			font-style: normal;
			font-weight: 300;
			line-height: 26px;
			letter-spacing: 2px;
		}
	}

	&__swiper {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 600px;
		height: 120px;
		background: black;
	}
}

.swiper {
	display: flex;
	justify-content: center;

	&__container {
		width: 451px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__count {
		color: white;
		font-family: Roboto;
		font-size: 22px;
		font-weight: 400;
		line-height: 40px;
		letter-spacing: 1.6px;
		text-align: left;

	}

	&__dots {
		display: flex;
		justify-content: space-between;
		width: 180px;
		height: 16px;
	}

	&__dot {
		width: 16px;
		height: 16px;
		background: white;

		&_selected {
			background: #D2B183;
		}
	}

	&__arrows {
		width: 80px;
		display: flex;
		justify-content: space-between;
	}
}

/*Welcome section*/

/*Visiting section*/
.Visiting {

	&__container {
		padding: 72px 0 72px 0;
	}

	&__title {
		color: var(--font-gold);
		position: relative;
		padding-bottom: 104px;

		&::before {
			position: absolute;
			content: '';
			top: 114px;
			left: 0;
			width: 100%;
			height: 3px;
			background: var(--dark-red);
		}
	}
}

.cards {
	display: grid;
	column-gap: 60px;
	row-gap: 73px;
	grid-template-columns: repeat(auto-fit, minmax(200px, 440px));


	&__card {
		display: block;

		&:hover .cards__title::before {
			width: 100%;
		}
	}

	&__img {
		padding-bottom: 26px;

		img {
			width: 100%;
			height: 100%;
		}
	}

	&__title {
		position: relative;
		color: black;
		font-family: Forum;
		font-size: 32px;
		font-style: normal;
		font-weight: 400;
		line-height: 35px;
		letter-spacing: 5px;
		text-align: left;
		text-transform: uppercase;
		padding-bottom: 23px;

		&::before {
			content: '';
			position: absolute;
			top: 45px;
			left: 0;
			width: 68.2%;
			background: var(--dark-red);
			height: 2px;
			transition: width 1s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.1s;
		}
	}

	&__text {
		color: black;
		font-family: Roboto;
		font-size: 22px;
		font-style: normal;
		font-weight: 200;
		line-height: 26px;
		letter-spacing: 0em;
		text-align: left;
		padding-bottom: 11px;
	}

	&__subtext {
		color: black;
		font-family: Roboto;
		font-size: 18px;
		font-style: normal;
		font-weight: 200;
		line-height: 21px;
		letter-spacing: 0em;
		text-align: left;
	}
}

/*Visiting section*/

/*Explore section*/
.Explore {

	&_container {
		display: flex;
		padding: 90px 0 75px 0;
	}

	&__content {
		padding-right: 63px;
	}

	&__title {
		line-height: 57px;
		padding-bottom: 120px;
		position: relative;

		&::before {
			position: absolute;
			content: '';
			top: 99px;
			left: 0;
			width: 100.4%;
			height: 3px;
			background: var(--dark-red);
		}
	}

	&__text {
		color: white;
		font-family: Roboto;
		font-size: 22px;
		font-style: normal;
		font-weight: 300;
		line-height: 39px;
		letter-spacing: 0em;
		text-align: left;
		padding-bottom: 24px;
	}
}

/*Explore section*/

/*Video section*/
.Video {

	&__container {
		padding: 80px 0 56px 0;
	}

	&__header {
		display: flex;
		padding-bottom: 79px;
	}

	&__title-container {
		min-width: 650px;
	}

	&__title {
		color: var(--font-gold);
		line-height: 79px;
	}

	&__content {
		font-family: Roboto;
		font-size: 22px;
		font-style: normal;
		font-weight: 300;
		line-height: 39px;
		letter-spacing: 0em;
		text-align: left;
		padding-left: 70px;
	}

	&__core {
		aspect-ratio: 1440 / 735;
		margin-bottom: 35px;

		video {
			object-fit: cover;
			width: 100%;
			height: 100%;
		}
	}
}

.switch {

	&__videos {
		display: grid;
		column-gap: 42px;
		grid-template-columns: repeat(3, minmax(100px, 452px));
		margin-bottom: 32px;
	}

	&__video {

		video {
			width: 100%;
			height: 100%;
		}
	}

	&__swiper {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__arrows {
		color: #999999;
		display: flex;
		justify-content: space-between;
		width: 200px;
		font-size: 28px;
	}

	&__dots {
		position: relative;
		display: flex;
		justify-content: space-between;
		width: 140px;
		top: -18px;
	}

	&__dot {
		background: #999999;
		width: 12px;
		height: 12px;
		border-radius: 50%;

		&_active {
			background: #333333;
		}
	}
}

/*Video section*/

/*Gallery section*/
.Gallery {

	&__container {
		overflow: hidden;
		height: 2200px;
		padding-top: 75px;
	}

	&__title {
		padding-bottom: 75px;
	}

	&__content {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		column-gap: 36px;
		height: 2600px;
	}

	&__column {
		display: flex;
		flex-direction: column;
		row-gap: 24px;

		&_left,
		&_right {
			margin-top: 50px;
		}
	}

	&__art {
		max-width: 456px;
		max-height: 100%;

		img {
			width: 100%;
		}
	}
}

/*Gallery section*/

/*Tickets section*/

/*Tickets section*/